.login-container .title {
  color: #40a9ff;
  text-align: center;
}

.login-container {
  width: 400px;
  margin: 0 auto;
  border: 1px solid #40a9ff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
}

.login-container .field-wrapper {
  margin-bottom: 5px;
}

.login-container .field-wrapper .field-label {
  width: 100px;
  display: inline-block;
}

.login-container .field-wrapper .field-input {
  border-radius: 2px;
  outline: none;
  height: 28px;
  width: 300px;
}

.login-container .field-wrapper .field-input.error {
  border-radius: 2px;
  border: 1px solid #cd1f1f;
  outline: none;
  height: 28px;
  width: 300px;
}

.login-container .field-wrapper .error-message{
  color: #cd1f1f;
  font-size: 14px;
  margin-left: 100px;
}

.login-container .btn-submit {
  height: 32px;
  width: 100px;
  font-weight: bold;
  color: #40a9ff;
}

.login-container .submit-wrapper {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}
